body {
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6em;
  background-image: url(../imagenes/aroma-salt-candles.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}

.header {
  background: #333;
  color: white;
  padding: 0.1rem 0;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.Logo-Nav-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  letter-spacing: 15px;
  font-size: 1.4rem;
}

.menu-icon {
  display: none;
}

.navegation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navegation ul li {
  display: inline-block;
}

.navegation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.navegation ul li a:hover {
  background: rgba(204, 204, 204, 0.726);
}

.main {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 767px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .navegation {
    width: 100%;
    margin-top: 1rem;
  }
  .navegation ul {
    display: none;
  }
  .navegation ul.show {
    display: block;
  }
  .navegation ul li {
    display: block;
  }
  .navegation ul li a {
    display: block;
    padding: 0.5rem 0;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    border-radius: 5px;
  }
  .navegation ul li a:hover {
    background: rgba(204, 204, 204, 0.726);
  }
}

/* landing de inicio */
.header-Logo {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #796aa138, #685e8538), url(../imagenes/pexels-olya-kobruseva-6507028.jpg);
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

nav {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: white;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  margin-left: 15px;
  list-style: none;
}

nav ul li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  text-decoration: underline;
}

.header-cont {
  max-width: 600px;
  height: 60%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-cont h2 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}

.header-cont p {
  font-size: 25px;
  color: white;
  font-weight: 300;
}

.header-cont a {
  display: inline-block;
  margin-top: 25px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 40px;
  text-decoration: none;
  color: #626262;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-cont a:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

@media screen and (max-width: 767px) {
  .logo {
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

/* footer */
.footer {
  padding: 40px 0;
  background-color: #fff;
  text-align: center;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  opacity: 0,75;
}

.footer .social a:hover {
  opacity: 0,9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.presentacion {
  color: black;
  font-size: 30px;
  background: #b8b7b7;
  text-align: center;
}

.recordatorio {
  font-size: 35px;
  color: white;
}

@media only screen and (max-width: 324px) {
  .presentacion {
    color: black;
    font-size: 20px;
    background: #b8b7b7;
    text-align: center;
  }
  .recordatorio {
    font-size: 25px;
    color: white;
  }
}

/* CARDS */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background: white;
  width: 270px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
}

.card-image {
  background-color: aqua;
  height: 160px;
  margin-bottom: 15px;
  background-size: cover;
}

.card-1 {
  background-image: url(../imagenes/velasdenoche.jpg);
}

.card-2 {
  background-image: url(../imagenes/candles-ga18559fff_1920.jpg);
}

.card-3 {
  background-image: url(../imagenes/velasDeColores.webp);
}

.card-4 {
  background-image: url(../imagenes/velas.jfif);
}

.card-5 {
  background-image: url(../imagenes/1.jfif);
}

.card-6 {
  background-image: url(../imagenes/velasVariasFormas.jpg);
}

.card-7 {
  background-image: url(../imagenes/SPA.jpg);
}

.card-8 {
  background-image: url(../imagenes/velasEnVasijas.webp);
}

.card-9 {
  background-image: url(../imagenes/32b87226bc434aa6945b2d1658766ea9.jpg);
}

.card h2 {
  padding: 10px;
}

.card p {
  padding: 10px;
}

.card a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
  border-radius: 20px;
}

.card:hover {
  background-color: #3e3e3e;
  color: white;
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* FORMULARIO */
.formulario {
  background-image: url(../imagenes/aroma-salt-candlesREALCUT.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.formulario form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

.formulario h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

.formulario input, .formulario textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
}

.formulario textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.formulario #boton {
  background: #31384A;
  color: #fff;
  padding: 20px;
}

.formulario #boton:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}

/* slider */
.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-animation: cambio 20s infinite alternate linear;
          animation: cambio 20s infinite alternate linear;
}

.slider li {
  list-style: none;
  width: 100%;
}

.slider img {
  width: 100%;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*# sourceMappingURL=style.css.map */